body {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  color: black;
}
a {
  color: white;
}
#home, #new-york {
  color: white;
  font-weight: bold;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
#home {
  font-size: 18px;
  color: white;
}
#footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
